# Main Framework
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-experimental==0.3.4

# AI Models (Google Gemini & Hugging Face API Embeddings)
langchain-google-genai==2.0.8
langsmith==0.2.0

# Vector Database
langchain-pinecone==0.2.0

# Utilities
boto3==1.35.90
pypdf==5.1.0
python-dotenv==1.0.1
pymupdf==1.24.2
pinecone-client==5.0.1
requests==2.32.5

# Web Backend
fastapi==0.115.2
uvicorn==0.32.0
gunicorn==23.0.0
python-multipart==0.0.12
pydantic-settings==2.6.0
